<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-mh</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">

        <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="Manager_helper_VL_bot" data-size="large" data-radius="10" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
        <script type="text/javascript">
          function onTelegramAuth(user) {
            console.log('User data:', user); // Выводим данные пользователя в консоль
        
            // Отправка данных пользователя на сервер
            fetch('/auth/telegram/callback', {
                method: 'GET', // Или 'POST', если вы измените метод на сервере
                headers: {
                    'Content-Type': 'application/json'
                },
                // Преобразуем данные пользователя в URL-параметры
                body: new URLSearchParams({
                    id: user.id,
                    first_name: user.first_name,
                    last_name: user.last_name,
                    username: user.username,
                    auth_date: user.auth_date,
                    hash: user.hash // Добавьте hash, если он нужен для проверки подписи
                })
            })
            .then(response => {
                if (!response.ok) {
                    alert('Ошибка авторизации');
                }
            })
            .catch(error => console.error('Ошибка:', error));
          }
        </script>

        {% include "footer.html" %}
    </div>
</body>

</html>


        <!-- <script async src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-login="Manager_helper_VL_bot"
            data-size="large"
            data-radius="10"
            data-onauth="onTelegramAuth(user)"
            data-request-access="write">
        </script> -->