<!DOCTYPE html>
<html lang="ru">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load documents</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body class="grey lighten-4">
  <div class="container mt-5">
      <h3 class="center-align">Загрузите файлы</h3>
      <div class="row">
          <div class="col s12 m8 offset-m2">
              <div class="card">
                  <div class="card-content">
                      <span class="card-title">Выберите файлы</span>
                      <form action = "/upload_files/" enctype = "multipart/form-data"  method="post">
                          <div class="input-field">
                            <input name = "files" type = "file" multiple>
                          </div>
                          <div class="input-field">
                            <input name = "files" type = "file" multiple>
                          </div>
                          <div class="card-action">
                              <button class="btn waves-effect waves-light" input type="submit">Отправить</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>
